body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 80vh;
  background-color: rgb(4, 22, 214);
  border-radius: 10px;
  background-image: url('bd2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
}

form {
  padding-left: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"],
form button[type="button"],
form select {
  margin-right: 10px;
  font-size: 16px;
}

form button[type="submit"] {
  margin-left: 10px;
  background-color: #9500ff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.due-date {
  font-size: 0.8em;
  color: #999;
  margin-top: 5px;
}
.priority {
  font-weight: bold;
  margin-right: 5px;
}

.high {
  background-color: rgb(255, 0, 0);
}

.medium {
  background-color: rgb(0, 247, 54)
}

.low {
  background-color: rgb(3, 249, 239);
}

.tick-box {
  margin-right: 10px;
}

.task-text {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

.info-container {
  display: flex;
  align-items: center;
}

.info-container > div {
  margin-right: 10px;
}
#hh{
  width: fit-content;
  margin-left: 280px;
}